<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
   
  </head>
  <body>

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-info">
          <div class="row flex-grow">
            <div class="col-lg-7 mx-auto text-white">
              <div class="row align-items-center d-flex flex-row">
                <div>
                  <h2 class="display-1 mb-0">See you soon!</h2>
                </div>
  
              </div>
              <div class="row mt-5">
                <div class="col-12 text-center mt-xl-2">
                  <a class="text-white font-weight-medium large-text" href="/accounts/login" style="font-size: 24px;">Login again?</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 mt-xl-2">
                  <p class="text-white font-weight-medium text-center">Copyright © AnticByte Corporation Ltd. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

   {% block scripts %}
    {% endblock %}
    
    <!-- End custom js for this page -->
  </body>
</html>
